.navbar-inverse .navbar-brand {
  width: 200px;
  display: block;
  font-size: 1em;
}
.navbar-inverse .navbar-brand img {
  float: left;
  width: 24px;
  margin-right: 8px;
}
.container.main-container {
  margin-top: 70px;
}
.table .check {
  width: 75px;
}
.table .complete {
  background: lightgreen;
}
