<div class="container-fluid">
    <h1>{{welcome}}</h1>

    <p>{{introduction}}</p>

    <!--
    This is where the form would go to add todos to the app
    -->
    <form role="form" class="col-sm-4 col-md-8" ng-submit="addTask()">
        <div class="form-group col-sm-2 col-md-8" >
            <label for="todo_title">Add Tasks</label>
            <input type="text" class="form-control" id="todo_title" placeholder="Enter Task Description" ng-model="taskForm.title">
        </div>
        <div class="form-group col-sm-2 col-md-4">
            <label for="todo_date">Due Date</label>
            <input type="date" class="form-control" id="todo_date" ng-model="taskForm.dueDate">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Add Task">
        </div>
    </form>




</div>

<div class="container-fluid">
    <h2>Task Board</h2>
    <table class="table">
        <tr ng-show="taskList.length > 0"><th class="check">Done</th><th>Task Title</th><th>Due Date</th></tr>
        <tr ng-show="taskList.length < 1"><td>Looks like you need some work to do!  Add some tasks!</td> </tr>
        <tr ng-repeat="task in taskList" ng-class="{complete: task.done == true}">
            <td><input type="checkbox" ng-click="task.done = !task.done"></td>
            <td>{{task.title}}</td>
            <td>{{task.dueDate | date}}</td>
        </tr>

    </table>
</div>

