<div class="container-fluid">
    <h1>{{welcome}}</h1>

    <p>{{introduction}}</p>

    <!--
    This is where the form would go to add todos to the app



    -->
    <form role="form" class="col-sm-4 col-md-8">
        <div class="form-group col-sm-2 col-md-8" >
            <label for="todo_title">Add Tasks</label>
            <input type="text" class="form-control" id="todo_title" placeholder="Enter Task Description">
        </div>
        <div class="form-group col-sm-2 col-md-4">
            <label for="todo_date">Due Date</label>
            <input type="date" class="form-control" id="todo_date">
        </div>
        <div class="form-group">
            <button class="btn btn-success" >Add Task</button>
        </div>
    </form>




</div>

<div class="container-fluid">
    <h2>Task Board</h2>
    <table>
        <tr><th>Task Title</th><th>Due Date</th></tr>
        <tr><td colspan="2">Looks like you need some work to do!  Add some tasks!</td> </tr>
    </table>
</div>

